@import 'block/font.scss';
@import 'block/color.scss';

*, *:after, *:before { 
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

a:active, a:focus { 
    outline: none;
}

html, body {
    height: 100%;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: $background;
    color: $main-color;
    font-family: 'Source Code Pro'; 
    transition: 0.8s;
}

.visibility-hidden {
    display: none;
}

a {
    text-decoration: none;
    transition: 0.9s;
    color: $main-color;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

input[type="text"] {
    font-family: inherit; 
    font-size: inherit; 
    line-height: inherit; 
    margin: 0; 
}

ul {
    list-style-type: none;
}

.hidden {
    display: none;
}

.com-color {
    color: $complementary-color;
}

.btn {
    border: 1px solid #C778DD;
}
.btn:hover {
    background: #C778DD;
}

.wrapper {
    min-height: 100px;
    overflow: hidden;
}

.container {
    max-width: 1054px;
    padding: 0 15px;
    margin: 0px auto;
}

.link-arrow {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    border: 1px solid $complementary-color;
    padding: 8px 16px;
    margin-bottom: 16px;
}
.link-arrow::after {
    content: "<~>";
    display: inline-block;
    margin-left: 12px
}
.link-arrow:hover,
.link-arrow:active,
.link-arrow:focus {
    background: rgba(199, 120, 221, 0.2);
}

.section-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
}

.section-title span {
    color: $complementary-color;
}

.section-title:after {
    content: '';
    display: inline-block;
    width: 511px;
    border-top: 2px solid $complementary-color;
    margin-left: 16px;
}

.p-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: $hover-color;
}   

@import 'block/header.scss';
@import 'block/content.scss';
@import 'block/footer.scss';