main.content
    .container
        .projects-title
            h1.project-title
                span /
                |about-me
            span.projects-span Who am i?
        section.about-me.about-me-content
            .about-me__inf.p-info
                p Hello, i’m Elias!
                p I’m a self-taught front-end developer based in Kyiv, Ukraine. I can develop responsive websites from scratch and raise them into modern user-friendly web experiences. 
                p Transforming my creativity and knowledge into a websites has been my passion for over a year. I have been helping various clients to establish their presence online. I always strive to learn about the newest technologies and frameworks.
            span.about-me__rear-details
        section.skills.about-skills
            h2.skills__title.project-title
                span #
                |skills
            .skills__info.about-me__info
                .skills__info-cart
                    h3 Languages
                    ul 
                        li TypeScript 
                        li Lua
                        li Python
                        li JavaScript
                .skills__info-cart
                    h3 Databases
                    ul 
                        li SQLite 
                        li PostgreSQL
                        li Mongo
                .skills__info-cart
                    h3 Other
                    ul 
                        li HTML 
                        li CSS
                        li EJS
                        li SCSS
                        li REST 
                        li Jinja
                .skills__info-cart
                    h3 Tools
                    ul 
                        li VSCode 
                        li Neovim
                        li Linux
                        li Figma
                        li XFCE 
                        li Arch
                        li Git
                        li Font Awesome
                .skills__info-cart
                    h3 Frameworks
                    ul 
                        li React 
                        li Vue
                        li Disnake
                        li Discord.js
                        li Flask 
                        li Express.js   
        section.facts
            h2.skills__title.project-title
                span #
                |my-fun-facts
            .facts-wrapper
                p I like winter more than summer
                p I often bike with my friends
                p I like 
                    span pizza 
                    |and 
                    span pasta
                p I was in 
                    span Egypt,
                    span Poland 
                    |and 
                    span Turkey
                p I’m still studing in school
                p My favorite movie is
                    span The Green Mile
                p I don’t have any siblings
            span.facts__rear-details

        span.rear-details.projects__rear-details-one
        span.rear-details.projects__rear-details-two
        span.rear-details.projects__rear-details-three