main.content.cotacts-content
    .container
        .projects-title
            h1.project-title
                span /
                |about-me
            span.projects-span Who am i?
        section.about-me.contacts-content__row      
            .contacts__row
                p.contacts__info.p-info I’m interested in freelance opportunities. However, if you have other request or question, don’t hesitate to contact me
                .contacts__message
                    .contacts__message-content
                        h3 Message me here
                        p.message-ds.message__icon !Elias#3519
                        p.message-mail.message__icon elias@elias.me