footer.footer
    .container
        .footer__content
            .footer__upper-part
                img.footer__logo(src="img/logo.svg", alt="")
                span elias@elias.ml
                p Media 
            .footer__bottom-part 
                p Web designer and front-end developer based in Ukraine
                ul.footer__list
                    li.footer__item
                        a(href="#")
                            img(src="img/Github.svg", alt="Github")
                    li.footer__item
                        a(href="#")
                            img(src="img/Figma.svg", alt="Figma")
                    li.footer__item
                        a(href="#")
                            img(src="img/Discord.svg", alt="Discord")
        
            