header.header
    .container
        .header__row
            img.logo(src="img/logo.svg", alt="logo")  
            .nav__row
                nav.main-nav
                    ul.main-nav__list
                        li.main-nav__item
                            a.main-nav__link(href="#") 
                                span #
                                |home
                        li.main-nav__item
                            a.main-nav__link(href="#") 
                                span #
                                |works
                        li.main-nav__item
                            a.main-nav__link(href="#") 
                                span #
                                |about-me
                        li.main-nav__item
                            a.main-nav__link(href="#") 
                                span #
                                |contacts
                .dropdown
                    .dropbtn EN
                    .dropdown-content 
                        a(href="#") RU
                        a(href="#") EN