main.content
    .container
        .hero 
            .hero__content
                h1.hidden Portfolio
                h2.hero__title Elias is a 
                    span.com-color web designer 
                    |and 
                    span.com-color front-end developer
                p.hero__text He crafts responsive websites where technologies meet creativity
                a.hero__link.btn(href="#") Contact me!!
            .hero__portfolio-info
                p Currently working on 
                    span Portfolio
            .hero__bg-art
                

                    
