main.content
    .container
        .hero 
            .hero__content
                h1.hidden Portfolio
                h2.hero__title Elias is a 
                    span.com-color web designer 
                    |and 
                    span.com-color front-end developer
                p.hero__text He crafts responsive websites where technologies meet creativity
                a.hero__link.btn(href="#") Contact me!!
            .hero__portfolio-info
                p Currently working on 
                    span Portfolio
            .hero__bg-art
        section.projects
            .projects__title-row
                h2.projects__title.section-title
                    span #
                    |projects
                a.projects__link(href="#") View all 
            .projects__row
                .projects-cart
                    img.projects-cart__img(src="img/ChertNodes.png", alt="ChertNodes")
                    ul.projects-cart__list
                        li.projects-cart__item Html
                        li.projects-cart__item Scss
                        li.projects-cart__item Python
                        li.projects-cart__item Flask
                    .projects-cart__inf
                        h3.projects-cart__title ChertNodes
                        p.projects-cart__text Minecraft servers hosting 
                        a.projects-cart__link.link-arrow(href="#") Live
                .projects-cart
                    img.projects-cart__img(src="img/ProtectX.png", alt="ChertNodes")
                    ul.projects-cart__list
                        li.projects-cart__item React
                        li.projects-cart__item Express
                        li.projects-cart__item Discord.js
                        li.projects-cart__item Node.js
                        li.projects-cart__item HTML
                        li.projects-cart__item SCSS
                        li.projects-cart__item Python
                        li.projects-cart__item Flask
                    .projects-cart__inf
                        h3.projects-cart__title ProtectX
                        p.projects-cart__text Discord anti-crash bot 
                        a.projects-cart__link.link-arrow(href="#") Live
                .projects-cart
                    img.projects-cart__img(src="img/KahootAnswersViewer.png")
                    ul.projects-cart__list
                        li.projects-cart__item CSS
                        li.projects-cart__item Express
                        li.projects-cart__item Node.js
                    .projects-cart__inf
                        h3.projects-cart__title Kahoot Answers Viewer
                        p.projects-cart__text Get answers to your kahoot quiz
                        a.projects-cart__link.link-arrow(href="#") Live
        section.skills
            h2.skills__title.section-title 
                span #
                |skills
            .skills__info
                .skills__info-bloc
                   .skills__info-cart
                        h3 Languages
                        ul 
                            li TypeScript 
                            li Lua
                            li Python
                            li JavaScript
                .skills__info-bloc
                    .skills__info-cart
                        h3 Databases
                        ul 
                            li SQLite 
                            li PostgreSQL
                            li Mongo
                    .skills__info-cart
                        h3 Other
                        ul 
                            li HTML 
                            li CSS
                            li EJS
                            li SCSS
                            li REST 
                            li Jinja
                .skills__info-bloc
                    .skills__info-cart
                        h3 Tools
                        ul 
                            li VSCode 
                            li Neovim
                            li Linux
                            li Figma
                            li XFCE 
                            li Arch
                            li Git
                            li Font Awesome
                    .skills__info-cart
                        h3 Frameworks
                        ul 
                            li React 
                            li Vue
                            li Disnake
                            li Discord.js
                            li Flask 
                            li Express.js
            span.skills-rear-details           
        section.about-me 
            h2.about-me__title.section-title 
                span #
                |about-me
            .about-me__inf.p-info
                p Hello, i’m Elias!
                p I’m a self-taught front-end developer based in Kyiv, Ukraine. I can develop responsive websites from scratch and raise them into modern user-friendly web experiences. 
                p Transforming my creativity and knowledge into a websites has been my passion for over a year. I have been helping various clients to establish their presence online. I always strive to learn about the newest technologies and frameworks.
            a.about-me__link(href="#") Read more
            span.about-me__rear-details
        section.contacts
            h2.contacts__title.section-title 
                span #
                |contacts
            .contacts__row
                p.contacts__info.p-info I’m interested in freelance opportunities. However, if you have other request or question, don’t hesitate to contact me
                .contacts__message
                    .contacts__message-content
                        h3 Message me here
                        p.message-ds.message__icon !Elias#3519
                        p.message-mail.message__icon elias@elias.me




        
                       
        span.rear-details.projects__rear-details-one
        span.rear-details.projects__rear-details-two
        span.rear-details.projects__rear-details-three

        span.rear-details.about-me__rear-details-one
        span.rear-details.about-me__rear-details-two

                

            
                

                    
