main.content
    .container
        .hero 
            .hero__content
                h1.hidden Portfolio
                h2.hero__title Elias is a 
                    span.com-color web designer 
                    |and 
                    span.com-color front-end developer
                p.hero__text He crafts responsive websites where technologies meet creativity
                a.hero__link.btn(href="#") Contact me!!
            .hero__portfolio-info
                p Currently working on 
                    span Portfolio
            .hero__bg-art
        section.projects
            .projects__title-row
                h2.projects__title 
                    span #
                    |projects
                a.projects__link(href="#") View all 
            .projects__row
                .projects-cart
                    img.projects-cart__img(src="img/ChertNodes.png", alt="ChertNodes")
                    ul.projects-cart__list
                        li.projects-cart__item Html
                        li.projects-cart__item Scss
                        li.projects-cart__item Python
                        li.projects-cart__item Flask
                    .projects-cart__inf
                        h3.projects-cart__title ChertNodes
                        p.projects-cart__text Minecraft servers hosting 
                        a.projects-cart__link.link-arrow(href="#") Live
                .projects-cart
                    img.projects-cart__img(src="img/ProtectX.png", alt="ChertNodes")
                    ul.projects-cart__list
                        li.projects-cart__item React
                        li.projects-cart__item Express
                        li.projects-cart__item Discord.js
                        li.projects-cart__item Node.js
                        li.projects-cart__item HTML
                        li.projects-cart__item SCSS
                        li.projects-cart__item Python
                        li.projects-cart__item Flask
                    .projects-cart__inf
                        h3.projects-cart__title ProtectX
                        p.projects-cart__text Discord anti-crash bot 
                        a.projects-cart__link.link-arrow(href="#") Live
                .projects-cart
                    img.projects-cart__img(src="img/KahootAnswersViewer.png")
                    ul.projects-cart__list
                        li.projects-cart__item CSS
                        li.projects-cart__item Express
                        li.projects-cart__item Node.js
                    .projects-cart__inf
                        h3.projects-cart__title Kahoot Answers Viewer
                        p.projects-cart__text Get answers to your kahoot quiz
                        a.projects-cart__link.link-arrow(href="#") Live
                        
        span.rear-details.projects__rear-details-one
        span.rear-details.projects__rear-details-two
        span.rear-details.projects__rear-details-three

                

            
                

                    
