main.content
    .container
        .projects-title
            h1.project-title
                span /
                |projects
            span.projects-span List of my projects
        section.complete-apps 
            h2.complete-apps__title.project-title
                    span #
                    |complete-apps
            .projects__row
                .projects-cart
                    img.projects-cart__img(src="img/ChertNodes.png", alt="ChertNodes")
                    ul.projects-cart__list
                        li.projects-cart__item Html
                        li.projects-cart__item Scss
                        li.projects-cart__item Python
                        li.projects-cart__item Flask
                    .projects-cart__inf
                        h3.projects-cart__title ChertNodes
                        p.projects-cart__text Minecraft servers hosting 
                        a.projects-cart__link.link-arrow(href="#") Live
                .projects-cart
                    img.projects-cart__img(src="img/KahootAnswersViewer.png")
                    ul.projects-cart__list
                        li.projects-cart__item CSS
                        li.projects-cart__item Express
                        li.projects-cart__item Node.js
                    .projects-cart__inf
                        h3.projects-cart__title Kahoot Answers Viewer
                        p.projects-cart__text Get answers to your kahoot quiz
                        a.projects-cart__link.link-arrow(href="#") Live
                .projects-cart
                    img.projects-cart__img(src="img/ProtectX.png", alt="ChertNodes")
                    ul.projects-cart__list
                        li.projects-cart__item React
                        li.projects-cart__item Express
                        li.projects-cart__item Discord.js
                        li.projects-cart__item Node.js
                        li.projects-cart__item HTML
                        li.projects-cart__item SCSS
                        li.projects-cart__item Python
                        li.projects-cart__item Flask
                    .projects-cart__inf
                        h3.projects-cart__title ProtectX
                        p.projects-cart__text Discord anti-crash bot 
                        a.projects-cart__link.link-arrow(href="#") Live
            .projects__row.projects__row--not-flex
                .projects-cart
                    img.projects-cart__img(src="img/KotikBot.png", alt="ChertNodes")
                    ul.projects-cart__list
                        li.projects-cart__item Html
                        li.projects-cart__item Scss
                        li.projects-cart__item Js
                    .projects-cart__inf
                        h3.projects-cart__title Kotik Bot
                        p.projects-cart__text Multi-functional discord bot 
                        a.projects-cart__link.link-arrow(href="#") Live
                .projects-cart
                    img.projects-cart__img(src="img/Portfolio.png", alt="ChertNodes")
                    ul.projects-cart__list
                        li.projects-cart__item Vue
                        li.projects-cart__item TS
                        li.projects-cart__item Less
                    .projects-cart__inf
                        h3.projects-cart__title Portfolio
                        p.projects-cart__text You’re using it rn 
                        a.projects-cart__link.link-arrow(href="#") Live
        section.small-projects
            h2.small-projects__title.project-title
                    span #
                    |small-projects
            .projects__row
                .projects-cart.small-projects__cart
                    ul.projects-cart__list
                        li.projects-cart__item Discord.js
                        li.projects-cart__item TS
                        li.projects-cart__item JS
                    .projects-cart__inf
                        h3.projects-cart__title Bot boilerplate
                        p.projects-cart__text Start creating scalable discord.js bot with typescript in seconds
                        a.projects-cart__link.link-arrow(href="#") Github
                .projects-cart.small-projects__cart
                    ul.projects-cart__list
                        li.projects-cart__item VUE
                        li.projects-cart__item CSS
                        li.projects-cart__item JS
                    .projects-cart__inf
                        h3.projects-cart__title JS
                        p.projects-cart__text Front-end of my future blog website written in vue
                        a.projects-cart__link.link-arrow(href="#") Github
                .projects-cart.small-projects__cart
                    ul.projects-cart__list
                        li.projects-cart__item Figma
                    .projects-cart__inf
                        h3.projects-cart__title Chess pro
                        p.projects-cart__text Figma landing page about service for viewing chess tournaments
                        a.projects-cart__link.link-arrow(href="#") Figma
            .projects__row
                .projects-cart.small-projects__cart
                    ul.projects-cart__list
                        li.projects-cart__item Figma
                    .projects-cart__inf
                        h3.projects-cart__title Crash protect website
                        p.projects-cart__text Figma template for website about anti-raid, anti-crash discord bot 
                        a.projects-cart__link.link-arrow(href="#") Figma
                .projects-cart.small-projects__cart
                    ul.projects-cart__list
                        li.projects-cart__item HTML
                        li.projects-cart__item CSS
                    .projects-cart__inf
                        h3.projects-cart__title CSS expirements
                        p.projects-cart__text Collection of my different little projects in css
                        a.projects-cart__link.link-arrow(href="#") Live
                .projects-cart.small-projects__cart
                    ul.projects-cart__list
                        li.projects-cart__item Lua
                        li.projects-cart__item NeoVim
                    .projects-cart__inf
                        h3.projects-cart__title Web Dev nvim config
                        p.projects-cart__text Config for neovim perfect for web developer 
                        a.projects-cart__link.link-arrow(href="#") Github
            .projects__row.projects__row--not-flex 
                .projects-cart.small-projects__cart
                    ul.projects-cart__list
                        li.projects-cart__item Python
                        li.projects-cart__item Quart
                        li.projects-cart__item HTML
                    .projects-cart__inf
                        h3.projects-cart__title Ooku
                        p.projects-cart__text Simple link shortener with auth 
                        a.projects-cart__link.link-arrow(href="#") Live
                .projects-cart.small-projects__cart
                    ul.projects-cart__list
                        li.projects-cart__item Figma
                    .projects-cart__inf
                        h3.projects-cart__title School website
                        p.projects-cart__text Figma template website for my school
                        a.projects-cart__link.link-arrow(href="#") Figma
            
            