/*HERO*/
.container {
    position: relative;    
}

.hero {
    display: flex;
    min-height: 423px;
    position: relative;
    margin-bottom: 200px;
}

.hero__content {
    padding-top: 74px;
}

.hero__title {
    font-weight: 600;
    max-width: 537px;
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 32px;
}

.hero__text {
    width: 463px;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: $hover-color;
    margin-bottom: 24px;
}

.hero__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;

    padding: 8px 16px;
}

.hero__bg-art {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 469px;
    height: 386px;
    background: url('/img/man.png') no-repeat center;
}

.hero__portfolio-info {
    display: flex;
    align-items: flex-end;
    margin-left: 48px;
}

.hero__portfolio-info p {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: $hover-color;

    border: 1px solid $hover-color;

    padding: 6px 62px 8px 49px;
}

.hero__portfolio-info p::before {
    content: "";
    position: absolute;
    display: block;
    top: 9px;
    left: 8px;
    margin: auto;
    width: 16px;
    height: 16px;
    background: $complementary-color;
}

.hero__portfolio-info span {
    color: $main-color;
}

@media screen and (max-width: 1020px) {
    .hero {
        display: flex;
        flex-direction: column;
        min-height: 423px;
        position: relative;
        margin-bottom: 150px;
    }

    .hero__content {
        margin-bottom: 284px;
    }

    .hero__portfolio-info {
        align-items: flex-start;
        margin-left: 0px;
    }

    .hero__bg-art {
        position: absolute;
        top: 310px;
        left: 0px;
        width: 316px;
        height: 260.08px;
        background: url('/img/media-man.png') no-repeat center;
    }
}

@media screen and (max-width: 490px) {
    .hero__title {
        max-width: 328px;
    }
    .hero__bg-art {
        top: 390px;
    }
    .hero__text {
        max-width: 328px;
    }
}
/*HERO-END*/

/*PROJECTS*/ 
.projects {
    position: relative;
    min-height: 608px;
    margin-bottom: 106px; 
}

.projects__title-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 63.64px;
}

.projects__link {
    display: flex;
    align-items: center;

    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
}
.projects__link::after {
    content: '~~>';
    display: inline-block;
    margin-left: 12px;
}
.projects__link:hover,
.projects__link:focus,
.projects__link:active {
    color: $complementary-color;
}

.projects__row {
    display: flex;
    justify-content: space-between;
}

.projects-cart {
    max-width: 335px;
    border: 1px solid $hover-color;
    min-height: 391px;
    cursor: pointer;
}
.projects-cart:hover {
    border: 1px solid $complementary-color;
}

.projects-cart__img{
    transition: 0.8s;
}
.projects-cart__img:hover {
    transform: scale(1.1);
}

.projects-cart__list {
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
}

.projects-cart__item {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: $hover-color;
}
.projects-cart__item:not(:last-child) {
    margin-right: 8px;
}

.projects-cart__inf {
    border-top: 1px solid $hover-color;
    padding: 16px;
}

.projects-cart__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    margin-bottom: 16px;
}
.projects-cart__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: $hover-color;
    margin-bottom: 16px;
}

/*projects-MEDIA*/
@media screen and (max-width: 1020px) {
    .projects__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .projects-cart:not(:last-child){
        margin-bottom: 30px;
    }

    @media screen and (max-width: 850px) {
        .projects__title:after {
            display: none;
        }
    }
}
/*projects-MEDIA-END*/

/*projects__rear-details*/
.rear-details {
    position: absolute;
    border: 1px solid #ABB2BF;
}
.projects__rear-details-one {
    width: 91px;
    height: 91px;
    left: 1280px;
    top: 550px;
}
.projects__rear-details-two {
    width: 155px;
    height: 155px;
    left: 1294px;
    top: 1128px;
}
.projects__rear-details-three{
    width: 84px;
    height: 84px;
    left: -360px;
    top: 923px;
}
/*projects__rear-details-end*/
/*PROJECTS-END*/ 

/*SKILLS*/
.skills {
    position: relative;
    min-height: 365px;
    margin-bottom: 112px;
}

.skills__title {
    margin-bottom: 43px;
}

.skills__info {
    display: flex;
    justify-content: flex-end;
}

.skills__info-cart {
    border: 1px solid $hover-color;
    max-width: 200px;
}

.skills__info-bloc:not(:last-child) {
    margin-right: 16px;
}

.skills__info-cart:not(:last-child) {
    margin-bottom: 16px;
}

.skills__info-cart h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    padding: 8px;
}
.skills__info-cart ul {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid $hover-color; 
    padding: 8px;
}
.skills__info-cart li {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: $hover-color;
    margin: 3px;
}

.skills-rear-details {
    position: absolute;
    top: 54px;
    left: 32px;
    background: url('/img/skills-rear-details.svg');
    width: 349px;
    height: 283px;
}

/*skills-MEDIA*/
@media screen and (max-width: 1020px) {
    .skills-rear-details {
        display: none;
    }

    .skills__info {
        display: flex;
        justify-content: center;
    }

    .skills {
        margin-bottom: 80px;
    }
}

@media screen and (max-width: 400px) {
    .skills__info {
        flex-direction: column;
    }

    .skills__info-cart {
        margin-bottom: 15px;
    }
}
/*skills-MEDIA-END*/
/*SKILLS-END*/


/*ABOUT-ME*/
.about-me {
    min-height: 508px;
    margin-bottom: 112px;
}

.about-me__title {
    margin-bottom: 48px;
}

.about-me__inf {
    max-width: 515px;
}

.about-me__inf p {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: $hover-color;
}
.about-me__inf p {
    margin-bottom: 25px;
}

.about-me__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    border: 1px solid #C778DD;
    padding: 8px 16px;
}
.about-me__link:hover,
.about-me__link:focus,
.about-me__link:active {
    background: #C778DD;
}

.about-me__link::after {
    content: "->";
    text-align: center;
    margin-left: 10px;
}



/*ABOUT-ME-END*/