/*HEADER*/

.header {
    min-height: 61px;
    margin-bottom: 62px;
}

@media screen and (max-width: 1000px) {
    .header {
        margin-bottom: 24px;
    }
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    min-height: 61px;
}

.hamburger-menu {
    display: flex;
}

.logo {
    z-index: 100;
    width: 72px;
    height: 21px;
}

.main-nav__list {
    display: flex;
}

.main-nav__item {
    margin-right: 32px;
}

.main-nav__item span {
    color: $complementary-color;
}

.main-nav__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: $main-color;
}

.main-nav__link:hover,
.main-nav__link:active,
.main-nav__link:focus {
    color: $hover-color;
}

/*dropdown*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;

    cursor: pointer;

    background: url('/img/arrow-down.svg') no-repeat right center;
    padding-right: 4px;
    width: 40px;

    transition: 0.8s;
}

.dropbtn:hover,
.dropbtn:active,
.dropbtn:focus {
    color: $hover-color;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 36px;
}

.dropdown-content a {
    color: $main-color;
    padding: 3px 5px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover,
.dropdown-content a:focus,
.dropdown-content a:active {
    color: $hover-color;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/*dropdown-end*/

/*hamburger-menu*/
#menu__toggle {
    opacity: 0;
}

@media screen and (max-width: 600px) {
    .menu__btn {
        display: flex; 
        align-items: center;  
        position: fixed;
        top: 40px;
        right: 15px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 10;
    }
    
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #616161;
    }
    .menu__btn > span::before {
      content: '';
      top: -8px;
    }
    .menu__btn > span::after {
      content: '';
      top: 8px;
    }
    
    .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 100px 15px;
        list-style: none;
        background-color: $background;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    }
    
    .menu__item {
        font-weight: 400;
        font-size: 32px;
        line-height: 42px;
    }
    .menu__item:hover,
    .menu__item:active,
    .menu__item:focus {
        color: $hover-color;
    }
    
    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
    }
    #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
    }
    #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        left: 0;
    }

    /*media-header*/    
    .hamburger-menu {
        display: flex;
    }
    
    .logo {
        z-index: 100;
        width: 72px;
        height: 21px;
    }
    
    .main-nav__list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .main-nav__item {
        margin-right: 0px;
        margin-bottom: 32px;
    }

    .dropdown {
        position: absolute;
        top: 32px;
        right: 70px;
        display: inline-block;
    }

    .dropbtn {
        font-weight: 600;
        font-size: 32px;
        line-height: 42px;

        padding-right: 10px;
        width: 60px;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        width: 60px;
    }
    
    .dropdown-content a {
        font-size: 25px;
        color: $main-color;
        padding: 3px 5px;
        text-decoration: none;
        display: block;
    }
}

/*hamburger-menu*/
 
/*HEADER-END*/